! HiDPI settings for XWayland applications
! DPI = 96 * scale factor (96 * 2 = 192)
Xft.dpi: 192
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Cursor size for X11 apps
Xcursor.size: 48
Xcursor.theme: Nordzy-cursors
