/* Nord theme styling - consistent with GTK3 */

/* Nord color palette */
@define-color nord_polar_0 #2e3440;
@define-color nord_polar_1 #3b4252;
@define-color nord_polar_2 #434c5e;
@define-color nord_polar_3 #4c566a;
@define-color nord_snow_0 #d8dee9;
@define-color nord_snow_1 #e5e9f0;
@define-color nord_snow_2 #eceff4;
@define-color nord_frost_0 #8fbcbb;
@define-color nord_frost_1 #88c0d0;
@define-color nord_frost_2 #81a1c1;
@define-color nord_frost_3 #5e81ac;

/* Selection colors */
selection, *:selected {
    background-color: @nord_frost_3;
    color: @nord_snow_1;
}

/* Sidebar selection */
.sidebar row:selected,
.sidebar row:selected:hover,
.navigation-sidebar row:selected,
.navigation-sidebar row:selected:hover {
    background-color: @nord_frost_3;
    color: @nord_snow_1;
}

.sidebar row:selected label,
.navigation-sidebar row:selected label {
    color: @nord_snow_1;
}

.sidebar row:hover,
.navigation-sidebar row:hover {
    background-color: @nord_polar_3;
}

/* Dialog scrollability for small screens */
dialog > box > box {
    min-height: 0;
}

/* Remove overlay scroll indicators */
undershoot.top, undershoot.right, undershoot.bottom, undershoot.left {
    background-image: none;
}
